*.gch
*.o
Makefile
.project
.cproject
Katanomi
KatanomiTest
*.time.?
*.time.??
*.time.???
*.time.????
.depend
meshes/
local/
.settings/
.depend
*.graph
*.graph.xyz
*.csv
*.cmd
*.output
*.map
SpectralPartition_Grid32x32_*.xyz
writeCoordsDist_*.xyz
hilbertPartition_*.xyz
SpectralPartition_+trace01_*.xyz
octree_timestep_*.dat
LLRUN.out.*
LLRUN.err.*
scorep-failed*
scorep-2017*
