# object files
*.gch
*.o
Geographer
GeographerTest
build/

# build system
Makefile
.project
.cproject
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
.depend

# unit test output
partResults/
SpectralPartition_Grid32x32_*.xyz
writeCoordsDist_*.xyz
testWriteDenseVectorCentral.part
diffusion-coords.xyz
hilbertPartition_*.xyz
SpectralPartition_+trace01_*.xyz
delaunayTest.graph_parallel.xyz

# tracing output
*.time.?
*.time.??
*.time.???
*.time.????
*.output
scorep-failed*
scorep-2017*
*.gcov
*.gcno
*.gcda

# job scheduling files
LLRUN.out.*
LLRUN.err.*
*.cmd

# backups
*~
.ipynb_checkpoints/

# other
meshes/
local/
.settings/
*.graph
*.graph.xyz
*.csv
*.map
octree_timestep_*.dat

# latex notes
*.aux
*.log
*.out
