Debug/*
.project
.cproject
.settings/*
nbproject/*
/.dep.inc
/Plots/paper.pdf
/Plots/paper.synctex.gz
/Plots/paper.bbl
/Plots/paper.log
/Plots/paper.aux
/Plots/paper.blg
/build/
Job*
Plots/sp-process
Plots/*.log
Plots/*.pdf
Plots/*.aux
Plots/*.gz